
20200518_Aufgabe1/Aufgabe01/.vs/Aufgabe01/v16/.suo
20200518_Aufgabe1/Aufgabe01/.vs/Aufgabe01/v16/Browse.VC.db
20200518_Aufgabe1/Aufgabe01/.vs/Aufgabe01/v16/ipch/AutoPCH/985ee38d2cf5342e/STDAFX.ipch
20200518_Aufgabe1/Aufgabe01/.vs/Aufgabe01/v16/ipch/AutoPCH/f06d450e9cbf9e93/AUFGABE01.ipch
20200518_Aufgabe1/Aufgabe01/.vs/Aufgabe01/v16/ipch/AutoPCH/f6a333218e245050/AUFGABE01.ipch
20200518_Aufgabe1/Aufgabe01/Aufgabe01.sdf
20200518_Aufgabe1/Aufgabe01/Aufgabe01.sln
20200518_Aufgabe1/Aufgabe01/Aufgabe01.suo
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Aufgabe01.vcxproj
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Aufgabe01.vcxproj.filters
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Aufgabe01.vcxproj.user
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.exe.embed.manifest
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.exe.embed.manifest.res
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.exe.intermediate.manifest
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.lastbuildstate
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.log
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.obj
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.tlog/Aufgabe01.lastbuildstate
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.tlog/CL.command.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.tlog/CL.read.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.tlog/CL.write.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.tlog/link.command.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.tlog/link.delete.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.tlog/link.read.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.tlog/link.write.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.vcxprojResolveAssemblyReference.cache
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.unsuccessfulbuild
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01.write.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/Aufgabe01_manifest.rc
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/cl.command.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/CL.read.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/CL.write.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/link-cvtres.read.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/link-cvtres.write.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/link.15836-cvtres.read.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/link.15836-cvtres.write.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/link.15836.read.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/link.15836.write.1.tlog
20200518_Aufgabe1/Aufgabe01/Debug/Aufgabe01.pdb
20200518_Aufgabe1/Aufgabe01/Debug/Aufgabe01.ilk
20200518_Aufgabe1/Aufgabe01/Debug/Aufgabe01.exe
20200518_Aufgabe1/Aufgabe01/Aufgabe01/targetver.h
20200518_Aufgabe1/Aufgabe01/Aufgabe01/stdafx.h
20200518_Aufgabe1/Aufgabe01/Aufgabe01/stdafx.cpp
20200518_Aufgabe1/Aufgabe01/Aufgabe01/ReadMe.txt
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/vc142.pdb
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/vc142.idb
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/vc100.pdb
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/vc100.idb
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/stdafx.obj
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/rc.write.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/rc.read.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/rc.command.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/mt.write.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/mt.read.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/mt.command.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/link.write.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/link.read.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/link.command.1.tlog
20200518_Aufgabe1/Aufgabe01/Aufgabe01/Debug/aufgabe01.obj.enc
20200521_Aufgabe2/Aufgabe02/Aufgabe02.sdf
20200521_Aufgabe2/Aufgabe02/Aufgabe02.sln
20200521_Aufgabe2/Aufgabe02/Aufgabe02.suo
20200521_Aufgabe2/Aufgabe02/Aufgabe02.vcxproj
20200521_Aufgabe2/Aufgabe02/Aufgabe02.vcxproj.filters
20200521_Aufgabe2/Aufgabe02/Aufgabe02.vcxproj.user
20200521_Aufgabe2/Aufgabe02/Debug/Aufgabe02.exe
20200521_Aufgabe2/Aufgabe02/Debug/Aufgabe02.exe.embed.manifest
20200521_Aufgabe2/Aufgabe02/Debug/Aufgabe02.exe.embed.manifest.res
20200521_Aufgabe2/Aufgabe02/Debug/Aufgabe02.exe.intermediate.manifest
20200521_Aufgabe2/Aufgabe02/Debug/Aufgabe02.ilk
20200521_Aufgabe2/Aufgabe02/Debug/Aufgabe02.lastbuildstate
20200521_Aufgabe2/Aufgabe02/Debug/Aufgabe02.log
20200521_Aufgabe2/Aufgabe02/Debug/Aufgabe02.pdb
20200521_Aufgabe2/Aufgabe02/Debug/Aufgabe02.vcxprojResolveAssemblyReference.cache
20200521_Aufgabe2/Aufgabe02/Debug/Aufgabe02.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/Aufgabe02_manifest.rc
20200521_Aufgabe2/Aufgabe02/Debug/Aufgabe2.obj
20200521_Aufgabe2/Aufgabe02/Debug/cl.command.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/CL.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/CL.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link-cvtres.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link-cvtres.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.4760-cvtres.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.4760-cvtres.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.4760.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.4760.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.5764-cvtres.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.5764-cvtres.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.5764.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.5764.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.6720-cvtres.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.6720-cvtres.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.6720.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.6720.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.8524-cvtres.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.8524-cvtres.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.8524.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.8524.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.9368-cvtres.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.9368-cvtres.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.9368.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.9368.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.command.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/link.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/mt.command.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/mt.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/mt.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/rc.command.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/rc.read.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/rc.write.1.tlog
20200521_Aufgabe2/Aufgabe02/Debug/vc100.idb
20200521_Aufgabe2/Aufgabe02/Debug/vc100.pdb
20200521_Aufgabe2/Aufgabe02/ipch/aufgabe02-8c337503/aufgabe02-68acd099.ipch
